body,
html {
  header {
    display: flex;
    justify-content: space-between;
    border: 5px solid black;
    background-color: rgb(225, 191, 57);
    color: rgb(14, 50, 181);

    h1 {
      text-align: start;
    }
    ul {
      display: flex;
      list-style: none;
      gap: 10px;
    }

    li::marker {
      content: ' | ';
    }
  }

  main {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    background-color: rgb(234, 208, 104);

    .store-item {
      height: 500px;
      width: fit;
      border: 5px solid black;
      background-color: rgb(235, 218, 153);
      color: rgb(10, 34, 123);

      img {
        max-width: 100%;
        height: fit-content;
        border-bottom: 2px solid black;

      }
      span {
        margin-right: 20px;
        justify-content: flex-end;
      }
    }
  }
  
  footer {
    display: flex;
    border: 5px solid black;
    background-color: rgb(228, 193, 55);
  }

  margin: 0px;
  padding: 0px;
}
